<form id="form_location_table" style="margin-bottom:15px">
	<span class="form_row">
		<select name="select_report_type">
			<option value="#visit_chart">Visitors over time</option>
			<option value="#visit_table">Detailed visitors overview</option>
			<option value="#UV_table">Unique visitors overview</option>
		</select>
		<!-- The first element in form is automatically focus, so it make datetimepicker open automatically. This is to prevent that  -->
		<input style="height:0px; top:-1000px; position:absolute" type="text" value="" />
		<label>&nbsp;&nbsp;&nbsp;Within:&nbsp;</label><input type="text" name="from_date" value="Now" readonly style="width:330px" />
	</span>
</form>

<div style="display:block" style="width:100%;background-color:red" id="visit_chart" class="graph_canvas"></div>
<div style="display:none" style="width:100%" id="visit_table" class="graph_canvas">
	<table class="mws-datatable-fn mws-table" style="margin-top:10px">
	    <thead>
			<tr>
				<th>Time</th>
				<th>#Visitors</th>
				<th>Event</th>
	        </tr>
	    </thead>
	    <tbody>
	    </tbody>
	</table>
</div>
<div style="display:none" style="width:100%" id="UV_table" class="graph_canvas">
	<table class="mws-datatable-fn mws-table" style="margin-top:10px">
	    <thead>
			<tr>
				<th>Visitor</th>
				<th>Total visits</th>
				<th>Total time</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>