<div id="setting_panel" style="float:left;height:100%;background-color:rgb(210, 220, 220);">
	 <ul>
		<li><a href="#tabs-objects_mgmnt_panel" title="Find objects and track" class="icol32-radiolocator"></a></li>
		<li><a href="#tabs-density_location_visits" title="Location visits density" class="icol32-things-digital"></a></li>
		<li><a href="#tabs-layers-visibility" title="Layers" class="icol32-layers"></a></li>
	</ul>
	<div id="tabs-objects_mgmnt_panel" style="border-left-width:0px" class="tracking_control_panel"></div>
	<div id="tabs-density_location_visits" style="border-left-width:0px" class="tracking_control_panel"></div>
	<div id="tabs-layers-visibility" style="border-left-width:0px" class="tracking_control_panel"></div>
</div>

<div style="overflow: hidden;background-color:rgb(200, 200, 200); height:100%">
	<div id="floorplan-container" class="svg-container" style="height:100%"></div>	
</div>

<a href="javascript:void(0)" title="Click to provide feedback" class="feedback-label" style="position:absolute; font-weight:bold;color:red; width:50px; height:70px; left:5px; bottom:0px">Feedbacks</a>