<ul class="mws-summary clearfix">


   <li class="mws-stat no-padding">
	   	<!-- Statistic Icon (edit to change icon) -->
	   	<span class="mws-stat-icon icol32-location-pin"></span>
	   	
	   	<!-- Statistic Content -->
	    <span class="mws-stat-content" name="beacon_location_container">
	    	<span class="mws-stat-title blurred-item">Nearest tracking sensor</span>
	        <span class="mws-stat-value blurred-item">
	        	<span name="beacon_location">----</span>
	       	</span>
	    </span>
	</li>
	<li class="mws-stat no-padding">
	   	<!-- Statistic Icon (edit to change icon) -->
	   	<span class="mws-stat-icon icol32-radiolocator"></span>
	   	
	   	<!-- Statistic Content -->
	    <span class="mws-stat-content" name="beacon_detection_list_container">
	    	<span class="mws-stat-title blurred-item">Detections</span>
	        <span class="mws-stat-value blurred-item">
	        	<span name="beacon_detections">----</span>
	       	</span>
	    </span>
	</li>
</ul>         
                        
               