.svg-container #controls { border:2px solid; border-radius:15px; background-color: rgb(204, 200, 250)}

.svg-container #controls #zoomin { height: 32px; width: 32px; }
.svg-container #controls #zoomfit { height: 32px; width: 32px; }
.svg-container #controls #zoomout { height: 32px; width: 32px; }

.close_btn {
	color:white;
	background-color:rgb(255,0,0);
	cursor:pointer;
	border:1px solid;
	font-weight: bold;
	padding-left: 5px; 
	padding-right: 5px;
}