<div style="margin: 15px">
	<center><h4 style="margin-bottom:30px">Layers</h4></center>
	
	<span class="form_row">
		<input style="margin-left:10px" name="show_hide_layers" value="locations" type="checkbox"><span class="position_marker_icon"></span><span>Locations</span>
	</span>
	
	<span class="form_row">
		<input style="margin-left:10px" name="show_hide_layers" value="location_titles" type="checkbox"><span class="position_name_marker_icon"></span><span>Location names</span>
	</span>
	
	<span class="form_row">
		<input style="margin-left:10px" name="show_hide_layers" value="location_regions" type="checkbox"><span class="position_marker_region"></span><span>Location regions</span>
	</span>
	
	<span class="form_row">
		<input style="margin-left:10px" name="show_hide_layers" value="tracking_sensors" type="checkbox"><span class="sensor_marker_icon"></span><span>Tracking sensors</span>
	</span>
</div>