<div style="margin:5px">
	<button class="btn" type="button" id="reset-map" title="Click here to see all markers"><i class="icol-arrow-in"></i></button>
	<button class="btn" type="button" id="toggle-line"><i class="icol-direction"></i> Toggle lines</button>
	<select id="date-filter-selection"></select>
</div>
<div id="map-canvas" style="height:300px; margin:5px">Loading...</div>
