<table border="1" id="connected_node_type_outputs-table" width="95%">
	<thead>
		<tr><th width="100px">Reference Name</th><th width="300px">Description</th><th>JSON Schema</th></tr>
	</thead>
	<tbody>
	</tbody>
</table>
                        
                        
               