<div class="mws-form">
	<div class="mws-form-block">
		<div class="mws-form-row blurred-item">
			<div class="mws-form-item" style="text-align:center" name="img_door_status">
				<img src='../sensolus/widgets/data_visualizations/custom/door_status_visualization/imgs/door_unknown.png' />
			</div>
		</div>
		
		<div class="mws-form-row" style="padding-top:0px;padding-bottom:10px">
			<div class="mws-form-cols">
				<div class="mws-form-col-7-8 blurred-item">
					<div class="mws-form-item" style="text-align:left" name="door_status">Loading...</div>
				</div>
				<div class="mws-form-col-1-8">
					<i title="Click to see historical data" class="mws-form-item icol-chart-curve" name="door_status" style="cursor:pointer"/>
				</div>
			</div>
		</div>	
	</div>
</div>