<div id="feed_graph" class="mws-panel grid_8" style="min-height:500px">
	<div style="display:inline-block" id="location_date_selector">
		<select id="date-filter-selection">
		</select>
	</div>
	<button class="btn" type="button" id="reset-map" title="Click here to see all markers"><i class="icol-arrow-in"></i> Reset map</button>
	<button class="btn" type="button" id="toggle-line"><i class="icol-direction"></i> Toggle lines</button>
    <div id="map-canvas" style="min-height:500px">
    </div>
</div>