<table>
	<tr><td width="200px">Connected node status:</td><td name='connected_node_status'> .. loading .. </td></tr>
</table>
<br>
<table border="1" id="providing-feeds-table" width="90%">
	<thead>
		<tr><th width="400px">Data feed</th><th width="200px">Last data received at</th><th>Last received data</th></tr>
	</thead>
	<tbody>
	</tbody>
</table>
                        
                        
               