<table>
	<tr><td width="200px">Data feed status:</td><td name='status'> .. loading .. </td></tr>
	<tr><td>Last data received at:</td><td name='at'> .. loading .. </td></tr>
	<tr><td>Last received data:</td><td name='value'> .. loading .. </td></tr>
</table>
                        
                        
               