
<b><div class="input_name">-</div></b>
<div class="input_description"></div>

    
<form id="<%= formID %>" class="mws-form">
	<div class="mws-form-message error edit-form-error" style="display:none;"></div>
	<div class="mws-form-message success edit-form-success" style="display:none;"></div>
	<div class="mws-form-message warning edit-form-warning" style="display:none;"></div>
	<div class="mws-form-inline">
    	<div class="configuration_fields"></div>

    </div>
</form>			
